* {
  margin: 0;
  padding: 0;
  
}
body {
  font-family:'arimo', sans-serif;
  background-color: #FFFFFF;
}
.main-header {
  width: 100%;
  background-color: #ffffff;
  
}
.header-container {
  max-width: 1200px;
  min-height: 76px;
  margin: 0 auto;
 padding: 0 24px;
  display: flex;
    justify-content: space-between;
  align-items: center;

}
.navigation-link {
  display: flex;
  gap: 28px;
}
.navigation-link a {
   color: #575757;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
}
.register-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 188px;
  height: 48px;
  background-color:#1d4ed8FF;;
  color: #ffffff;

  border-radius: 10px;
  text-decoration: none;

  font-size: 13px;
  font-weight: 700;
}
.hero-section {
  min-height: 560px;
  padding: 80px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container {
  max-width: 750px;
  margin: 0 auto;
  color: #ffffff;
}
.hero-container h1 {
  margin-bottom: 18px;

  font-size: 58px;
  line-height: 1.1;
  font-weight: 800;
}

.hero-container h1 span {
  font-style: italic;
}
.hero-container p {
  max-width: 650px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
}
.hero-button {
  min-width: 200px;
  height: 54px;
  padding: 0 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #3d55df;
  color: #ffffff;

  border-radius: 7px;
  text-decoration: none;

  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}

/* speaker section style start */
.speakers-section {
  width: 100%;
  padding: 55px 24px 65px;
  background-color: #ffffff;
}

.speakers-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.speakers-title {
  margin-bottom: 40px;

  color: #111111;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}
.speaker-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;

}
.speaker-image {
  width: 100%;
  height: 260px;
  overflow: hidden;
  background-color: #eeeeee;
}

.speaker-image img {
  width: 100%;
  height: 100%;
  display: block;
   object-fit: cover;
 
}
.speaker-info {
  padding: 18px 22px;
}

.speaker-category {
  display: inline-block;
  margin-bottom: 18px;
  color: #3653dc;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.speaker-name {
  margin-bottom: 7px;

  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.speaker-position {
  color: #6b7280;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}